@tailwind base;
@tailwind components;
@tailwind utilities;

.double-arrow {
    display: flex;
    position: relative;
    gap: 5px; /* Adjust spacing between arrows */
  }
  
  .chevron {
    width: 30px;
    height: 30px;
    clip-path: polygon(0% 0%, 70% 50%, 0% 100%);
    background-color: #008080; /* Teal color */
  }
  
  .second {
    margin-left: -15px; /* Overlap adjustment */
  }
  